/* = WooTickets Admin Styles
=============================================*/

#ticket_form {
	display : none;
}

#ticket_form input[type=radio] {
	margin-right : 5px;
}

#ticket_form span {
	margin-right : 10px;
}

.ticket_list tr td {
	padding        : 4px 7px 2px;
	vertical-align : top;
}

.ticket_list tr td div.ticket_controls {
	visibility : hidden;
}

.ticket_list tr:hover td div.ticket_controls {
	visibility : visible;
}

.ticket_list h4,
.tribe-tickets-attendee-info-form h4 {
	text-transform : uppercase;
	border-bottom  : 1px solid #e5e5e5;
	padding-bottom : 6px;
}

.ticket_list h4 a {
	font-weight    : normal;
	font-size      : 11px;
	text-transform : none;
}

p.ticket_name {
	font-size   : 13px;
	font-weight : bold;
}

.ticket_form p.description {
	display : inline;
}

.ticket_form h4.ticket_form_title_edit {
	display : none;
}
#tribe_ticket_header_preview img {
	max-width : 95% !important;
	height    : auto !important;
}

#tribe_ticket_header_remove {
	display: none;
}

.ticket_time{
	display:none;
}
/* = Attendee Info
=============================================*/
.tribe-tickets-show-attendee-info td  {
	padding:20px 0;
}
.tribe-tickets-show-attendee-info label {
	font-weight: bold;
}
.tribe-attendee-fields-box {
	vertical-align:top;
}
#saved_ticket_attendee_info_chosen {
	width: 220px !important;
}
#tribe-tickets-attendee-sortables {
	max-width: 850px;
}
.tribe-tickets-attendee-info-active-field  {
	background: #fafafa;
	border-color: #dfdfdf;
	width: 100%;
	margin-bottom: 10px;
}
.tribe-tickets-attendee-info-options {
	padding-right: 20px;
}
.tribe-tickets-attendee-info-options a {
	text-decoration: none;
}
.tribe-tickets-attendee-info-options li {
	position: relative;
}
.tribe-tickets-attendee-info-options li a {
	display: block;
	padding: 5px 0;
	border-bottom: 1px solid #dfdfdf;
}
.tribe-tickets-attendee-info-options li span {
	position: absolute;
	right: 0;
	font-size: inherit;
}
.tribe-tickets-attendee-info-form {
	display: none;
}
.tribe-tickets-attendee-info-form td {
	padding-bottom: 10px;
}


.tribe-tickets-attendee-info-active-field h3 span {
	font-size: 80%;
	font-weight: bold;
	font-family: sans-serif;
	text-transform: uppercase;
	opacity: .75;
}

.tribe-tickets-attendee-saved-fields {
	margin: 0;
	position: relative;
	height: 200px;
	max-width: 850px;
	border: 4px dashed #b4b9be;
	display: table;
	width: 100%;
	text-align: center;
}
.tribe-tickets-saved-fields-select {
	display: table-cell;
	vertical-align: middle;
}
.tribe-tickets-attendee-saved-fields p {
	color: #999;
	 font-size: 18px;
	 font-style: normal;
	 margin: 0 0 10px 0;
}
.tribe-tickets-attendee-saved-fields .chosen-container {
	margin: 0 auto;
	text-align: left;
}
.fake-saved-fields {
	display: none;
}
.tribe-tickets-input {
	margin: 10px 0;
}
.tribe-tickets-required {
	font-size: 11px;
}
.tribe-tickets-input label {
	display: block;
}

.tribe-tickets-input-checkbox label,
.tribe-tickets-input-radio label {

}

.tribe-tickets-input input[type="text"],
.tribe-tickets-input textarea {
	width: 100%;
}
.tribe-tickets-delete-field {
	margin-top: 5px;
	text-align: right;
}
.tribe-tickets-delete-field a {
	color: red;
}
.tribe-tickets-attendee-save-fieldset {
	margin-top: 30px;
}
.tribe-tickets-attendee-saved-fieldset-name {
	display: none;
	max-width: 300px;
}
/* = Attendee Info Form
=============================================*/
#tribe-events-pg-template .cmb-form {
	padding: 3%;
}